.chat-list{
    height: 100%;
    width: 25%;
    /* border: 1px solid red; */
}
.list-header{
    height: 10%;
    background-color: #F6F7FB;
    display: flex;
    align-items: center;
}

.list-header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.group-title{
    display: flex;
    align-items: center;
    font-size:1rem;
    font-weight: 500;
    margin-bottom: 4px;
    cursor: pointer;
}